* {
	font-family: "Helvetica Neue", sans-serif;
}

a {
	color: rgb(64, 128, 255);
	text-decoration: none;
}

body {
	width: 100%;
}

#header {
	text-align: center;
}

#info {
	text-align: center;
}

.item {
	float: left;
	clear: none;
	margin: 0 3px 14px 3px;
	padding: 0 5px;
			
	font-size: 30px;
	line-height: 1px;
	text-align: center;
	vertical-align: middle;
		
	color: black;	
	background: rgb(128, 128, 128);
}

#footer {
	text-align: center;
}

/*********************************************/
/*  Swipe                                    */
/*********************************************/

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}