* {
	font-family: "Helvetica Neue", sans-serif;
}

a {
	color: rgb(64, 128, 255);
	text-decoration: none;
}

body {
	width: 100%;
}

#header {
	text-align: center;
}

#info {
	text-align: center;
}

#footer {
	text-align: center;
}

/*********************************************/
/*  Swipe                                    */
/*********************************************/

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}